<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-2">
        <p class="text-muted">&copy JohanFire</p>
      </div>
      <div class="col-md-8 text-md-center">
        <span class="px-2"><a href="https://instagram.com/johanfireok/" target="_blank">Instagram: @JohanFireOK</a></span>
        <span class="px-2"><a href="http://johanfire.herokuapp.com" target="_blank">johanfire.herokuapp.com</a></span>
        <span class="px-2"><a href="http://github.com/JohanFire" target="_blank">Check my GitHub</a></span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
  <!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
